.ending {
   display: flex;
   flex-direction: column;
   align-items: center;

   .window {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: .5s;
      position: relative;
   }

   .window:hover {
      transform: scale(1.07);
   }

   .top-window {
      width: 4rem;
      margin-bottom: 0.25rem;
   }

   .bottom-window {
      width: 4rem;
      margin: 0 0.28rem;
   }

   .image {
      width: 100%;
      border-radius: 50px;
      box-shadow: 0 0 30px 13px rgb(0 0 0 / 21%);
   }
}