.snake {
   display: flex;
   align-items: center;

   .left-zone {
      display: flex;
      flex-direction: column;
      margin-right: 0.3rem;
      position: relative;
      overflow: hidden;
   }

   .grid {
      display: flex;
      flex-wrap: wrap;
   }

   .cell {
      border: 1px solid black;
      box-sizing: border-box;
      transition: position .1s;
   }

   .box {
      position: absolute;
      border: 1px solid black;
      box-sizing: border-box;
      z-index: 5;
   }


   .round-mode {
      .cell {
         border-radius: 50%;
      }

      .box {
         border-radius: 50%;
      }
   }


   .light-theme {
      .grid {
         background-color: #becede;
      }

      .cell {
         border-color: rgba(187, 190, 205, 0.85);
      }
   }

   .dark-theme {
      .grid {
         background-color: #1e1e1e;
      }

      .cell {
         border-color: #2a2a2a;
      }
   }
}