@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Open+Sans&family=Rubik&display=swap");
html {
    width: 100%;
    height: 100vh;
    font-size: 10vh;
}

body {
    margin: 0;
    font-family: "DynaPuff", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
// переместить в app.scss вверх, после того как app стнет импортить сss щас он че то не импортит



.main-button {
    border-radius: 30px;
    padding: 0.14rem 0.31rem;
    color: white;
    font-size: 0.21rem;
    margin: 0.20rem auto 0.01rem auto;
    transition: 0.5s;
    position: absolute;
    bottom: 0.31rem;
    box-shadow: 0px 0px 6px 4px rgb(0 0 0 / 36%);
    cursor: pointer;
}

.main-button:hover {
    transform: scale(1.2);
    filter: saturate(250%)
}


.modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-body {
    width: 4.3rem;
    border-radius: 15px;
    box-shadow: 0px 0px 11px 5px rgb(0 0 0 / 42%);
}


.game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #b2bfcc;
    user-select: none;
    overflow: hidden;
    position: relative;
}
.main-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centered-part {
    margin-left: 0.5rem;
}